@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.body {
   position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    color: #fff;
    padding: 20px;
    background: black;
    height: 100vh;
    

}
.header{
    padding-top:30px ;

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
    border:2px solid #747B85;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.links  a{
display:flex;
align-items:center;
align-content:;
text-decoration:none;
color:white;
background-color:#151719; 
padding:12px 72px;
border-radius:8px;
border: 0.4px solid white;
gap:50px;
font-size:17px;
font-weight:380;
margin-bottom:12px;

}
footer {
    margin-top: 50px;
    font-size: 0.9rem;
    color: #fff;
}
